<div class="profile">
  <div class="profile-pic">
    <img src="<%= @profile.avatar %>" alt="">
  </div>
  <div class="profile-bio">
    <h5><%= @profile.name %></h5>
    <h6><%= @profile.login %></h6>
    <p><%= @profile.bio %></p>
  </div>
  <div class="profile-bio2">
    <a href="#" class="btn grey lighten-3 black-text">Edit bio</a>
    <p><%= @profile.location %></p>
    <a href="mailto:<%= @profile.email %>"><%= @profile.email %></a>
  </div>
  <div class="profile-tabs row">
    <ul class="tabs">
      <li class="tab col s2" id="overview"><a href="#" class="active black-text" id=-"overview">Overview</a></li>
      <li class="tab col s3" id="repos"><a href="#" class="black-text">Repositories <strong class="grey lighten-2"><%= @profile.public_repos %></strong></a></li>
      <li class="tab col s2" id="stars"><a href="#" class="black-text">Stars</a></li>
      <li class="tab col s2" id="followers"><a href="#" class="black-text">Followers <strong class="grey lighten-2"><%= @profile.followers %></strong></a></li>
      <li class="tab col s2" id="following"><a href="#" class="black-text">Following <strong class="grey lighten-2"><%= @profile.following %></strong></a></li>
    </ul>
  </div>
  <div class="profile-repos-title main-display overview">
    <p>Pinned repositories</p>
  </div>
  <div class="profile-repos-customize main-display overview">
    <p><a href="#" class="black-text">Customize your pinned repositories</a></p>
  </div>

  <% @repos[0..5].each do |repo| %>
    <div class="profile-repo main-display overview">
      <div class="card-panel">
        <h6 class="blue-text"><strong><%= repo[:name] %></strong></h6>
        <p><%= truncate(repo[:description], length: 80) %></p>
        <p><%= repo[:language] %></p>
      </div>
    </div>
  <% end %>

<!-- hidden fields -->
  <div class="repo-index main-display ">
    <% if @is_current %>
    <h6>Create New Repository:</h6>
    <div class="input-field">
      <input type="text" id="new-repo-name">
      <label for="new-repo-name">Repository Name</label>
    </div>
    <input type="submit" value="Create" class="btn" id="new-repo-submit">
    <% end %>

    <h6>Current Repositories:</h6>
    <ul>
    <% @repos.each do |repo| %>
      <li><%= repo[:name] %></li>
    <% end %>
    </ul>
  </div>

  <div class="followers-index main-display">
  </div>

  <div class="following-index main-display">
  </div>

</div>
<!-- end of grid -->

<script>
  const tabBar = document.querySelector('.tabs')
  M.Tabs.init(tabBar, {});

  function followerTabPress() {
    console.log("follower")
    const followerIndex = document.querySelector('.followers-index')
    starData = fetch("https://api.github.com/users/<%= @profile.login %>/followers?access_token=<%= current_user.oauthtoken %>")
    .then(response => response.json())
      .then(function(response) {
        response.forEach( follower => {
          var newDiv = document.createElement('div')
          followerIndex.appendChild(newDiv)
          newDiv.innerHTML = `<a href="/users/${follower["login"]}">${follower["login"]}</a>`
        })
        followerIndex.style.display = 'block'
      })
  }

  function followingTabPress() {
    const followingIndex = document.querySelector('.following-index')
    starData = fetch("https://api.github.com/users/<%= @profile.login %>/following?access_token=<%= current_user.oauthtoken %>")
    .then(response => response.json())
      .then(function(response) {
        console.log(response)
        response.forEach( followed => {
          var newDiv = document.createElement('div')
          followingIndex.appendChild(newDiv)
          newDiv.innerHTML = `<a href="/users/${followed["login"]}">${followed["login"]}</a>`
        })
        followingIndex.style.display = 'block'
      })
  }

  const tabs = document.querySelectorAll('.tab')
  tabs.forEach(tab => {
    tab.addEventListener('click', function() {
      // if not active?
      var repos = document.querySelectorAll('.main-display')
      repos.forEach(repo => {
        repo.style.display = 'none'
      })
      switch (this.id) {
        case 'overview':
          const overs = document.querySelectorAll('.overview')
          overs.forEach(over => {
            over.style.display = 'inherit'
          })
          break;
        case 'repos':
          const repoIndex = document.querySelector('.repo-index')
          repoIndex.style.display = 'block'
          break;
        case 'followers':
          followerTabPress()
          break;
        case 'following':
          followingTabPress()
          break;
        default:
          console.log("default tab");
      }
    })
  })

  const newRepo = document.querySelector('#new-repo-submit')
  const newRepoName = document.querySelector('#new-repo-name')
  newRepo.addEventListener('click', function() {
    name = newRepoName.value

    $.ajax({
      url: 'https://api.github.com/user/repos',
      type: 'POST',
      beforeSend: function(xhr) {
        xhr.setRequestHeader("authorization", "token <%= current_user.oauthtoken %>");
      },
      data: `{ "name": ${name} }`
    }).done(function(reponse) {
      consolelog(response)
    })
    // var xhttp = new XMLHttpRequest()
    // xhttp.open("POST", `https://api.github.com/user/repos?access_token=<%= current_user.oauthtoken %>`, true)
    // xhttp.send(`name=${name}`)
  })
</script>
