
<div class="container profile">
  <div class="profile-pic">
    <img src="<%= @presenter.profile.avatar %>" alt="">
  </div>
  <div class="profile-bio">
    <h5><%= @presenter.profile.name %></h5>
    <h6><%= @presenter.profile.login %></h6>
    <p><%= @presenter.profile.bio %></p>
  </div>
  <div class="profile-bio2">
    <% if @presenter.is_current %>
    <a href="#" class="btn grey lighten-3 black-text">Edit bio</a>
    <% end %>
    <p><%= @presenter.profile.location %></p>
    <a href="mailto:<%= @presenter.profile.email %>"><%= @presenter.profile.email %></a>
  </div>
  <div class="profile-tabs row">
    <ul class="tabs">
      <li class="tab col s2" id="overview"><a href="#" class="active black-text" id=-"overview">Overview</a></li>
      <li class="tab col s3" id="repos"><a href="#" class="black-text">Repositories <strong class="grey lighten-2"><%= @presenter.profile.public_repos %></strong></a></li>
      <li class="tab col s2" id="stars"><a href="#" class="black-text">Stars</a></li>
      <li class="tab col s2" id="followers"><a href="#" class="black-text">Followers <strong class="grey lighten-2"><%= @presenter.profile.followers %></strong></a></li>
      <li class="tab col s2" id="following"><a href="#" class="black-text">Following <strong class="grey lighten-2"><%= @presenter.profile.following %></strong></a></li>
    </ul>
  </div>
  <div class="profile-repos-title main-display overview">
    <p>Pinned repositories</p>
  </div>
  <div class="profile-repos-customize main-display overview">
    <p><a href="#" class="black-text">Customize your pinned repositories</a></p>
  </div>

  <% @presenter.repos[0..5].each do |repo| %>
    <div class="profile-repo main-display overview">
      <div class="card-panel">
        <h6 class="blue-text"><strong><%= repo.name %></strong></h6>
        <p><%= truncate(repo.description, length: 80) %></p>
        <p><%= repo.language %></p>
      </div>
    </div>
  <% end %>

<!-- hidden fields -->
  <div class="repo-index main-display ">
    <h6>User Repositories:</h6>
    <ul>
    <% @presenter.repos.each do |repo| %>
      <li><%= repo.name %></li>
    <% end %>
    </ul>
  </div>

  <div class="followers-index main-display">
  </div>

  <div class="following-index main-display">
  </div>

</div>
<!-- end of grid -->

<script>
  const login = "<%= @presenter.profile.login %>"
  const token = "<%= @presenter.token %>"
</script>
<%= javascript_include_tag 'profile_show.js' %>
