<div class="profile">
  <div class="profile-pic">
    <img src="<%= @profile["avatar_url"] %>" alt="">
  </div>
  <div class="profile-bio">
    <h5><%= @profile["name"] %></h5>
    <h6><%= @profile["login"] %></h6>
    <p><%= @profile["bio"] %></p>
  </div>
  <div class="profile-bio2">
    <a href="#" class="btn grey lighten-3 black-text">Edit bio</a>
    <p><%= @profile["location"] %></p>
    <a href="mailto:<%= @profile["email"] %>"><%= @profile["email"] %></a>
  </div>
  <div class="profile-tabs row">
    <ul class="tabs">
      <li class="tab col s2"><a href="#" class="active black-text">Overview</a></li>
      <li class="tab col s3"><a href="#" class="black-text">Repositories <strong class="grey lighten-2"><%= @repos.count %></strong></a></li>
      <li class="tab col s2"><a href="#" class="black-text">Stars</a></li>
      <li class="tab col s2"><a href="#" class="black-text">Followers</a></li>
      <li class="tab col s2"><a href="#" class="black-text">Following</a></li>
    </ul>
  </div>
  <div class="profile-repos-title">
    <p>Pinned repositories</p>
  </div>
  <div class="profile-repos-customize">
    <p><a href="#" class="black-text">Customize your pinned repositories</a></p>
  </div>

  <% @repos[0..5].each do |repo| %>
    <div class="profile-repo">
      <div class="card-panel">
        <h6 class="blue-text"><strong><%= repo["name"] %></strong></h6>
        <p><%= truncate(repo["description"], length: 80) %></p>
        <p><%= repo["language"] %></p>
      </div>
    </div>
  <% end %>

</div>
<script>
  const tabBar = document.querySelector('.tabs')
  M.Tabs.init(tabBar, {});
</script>
